<!DOCTYPE html>
{% load url from future %}
{% include 'common/header.html' %}
<!-- Navbar ================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'site_index:about_index' %}">william southers</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{% url 'site_index:index' %}">Home</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:code_index' %}">Code</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:write_index' %}">Writing</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:music_index' %}">Music</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:misc_index' %}">Misc</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'site_index:about_index' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="marketing">
        <div class="row-fluid">
            <h1>about everything</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <h2>about me</h2>
            <p>My name is William, and I'm a developer, musician, writer, and artist living and working around Sydney.</p>
            <img src="{{ gravatar_url }}" alt="a photo of me" title="yes, that is the Sydney Opera House!"/>
            <h4>social networks</h4>
            <ul>
                <li><a href="https://facebook.com/william.southers">facebook</a></li>
                <li><a href="https://twitter.com/shoerust">twitter</a></li>
                <li><a href="https://plus.google.com/110669027498359133249">google+</a></li>
                <li><a href="https://linkedin.com/william.southers">linkedin</a></li>
            </ul>
            <h4>online repos</h4>
            <ul>
                <li><a href="https://github.com/shoerust">github</a></li>
                <li><a href="https://bitbucket.com/shoerust">bitbucket</a></li>
            </ul>
            <h4>other projects</h4>
            <ul>
                <li><a href="http://watermanbutterfly.com">waterman butterfly</a></li>
            </ul>
        </div>
        <div class="span3">
            <h2>about my work</h2>
            <p>I currently work in system integration in the finance industry, with an aim to move into web development.
            I also have a strong interest in animation and ray-tracing which keeps me occupied when I'm not reading,
            writing, or doing anything away from my computers. You'll often find me playing with Blender or tinkering
            with Ruby.</p>
            <h4>Languages</h4>
            <p>I'm proficient in the following languages:</p>
            <ul>
                <li>Java</li>
                <li>Ruby</li>
            </ul>
            <p>And I'm currently exploring:</p>
            <ul>
                <li>Python (for Django site development)</li>
                <li>C# (for XNA development)</li>
                <li>C++ (for ray-tracing)</li>
            </ul>
            <p>You can download my resume in .pdf form <a href="#">here</a>.</p>
        </div>
        <div class="span3">
            <h2>about this site</h2>
            <p>This site is currently built with a Django backend and a Bootstrap frontend. It is a perpetual work in progress,
                partly due to my experimenting with new web technologies and/or because I have a (supposedly) brilliant
                idea in the middle of the night that (usually) doesn't end well.</p>
        </div>
        <div class="span3">
            <h2>my tweets</h2>
            <a class="twitter-timeline" href="https://twitter.com/shoerust" data-widget-id="297314158309941249">Tweets by @shoerust</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}