<!DOCTYPE html>
{% load url from future %}
{% include 'common/header.html' %}
<!-- Navbar ================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'site_index:about_index' %}">william southers</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{% url 'site_index:index' %}">Home</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'site_index:code_index' %}">Code</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:write_index' %}">Writing</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:music_index' %}">Music</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:misc_index' %}">Misc</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:about_index' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% load url from future %}
<div class="container">
    {% include 'common/post_details.html' %}
</div>
{% include 'common/footer.html' %}