<!DOCTYPE html>
{% load url from future %}
{% include 'common/header.html' %}
<!-- Navbar ================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{% url 'site_index:about_index' %}">william southers</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="{% url 'site_index:index' %}">Home</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:code_index' %}">Code</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:write_index' %}">Writing</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:music_index' %}">Music</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:misc_index' %}">Misc</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:about_index' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="marketing">

        <h1>this city hums</h1>
        <p class="marketing-byline"><em>with weblogs and wordplay</em></p>
        <div class="row-fluid">
            <div class="span3">
                <h2><a href="{% url 'site_index:code_index' %}">code</a></h2>
                {% for post in code_post %}
                    <h3><a href="{% url 'site_index:details' 'code' post.id %}">{{ post.title }}</a></h3>
                    <p class="lead">{{ post.abstract|safe }}</p>
                    <p><small>published {{ post.pub_date }}</small></p>
                {% endfor %}
            </div>
            <div class="span3">
                <h2><a href="{% url 'site_index:write_index' %}">writing</a></h2>
                {% for post in write_post %}
                    <h3><a href="{% url 'site_index:details' 'writing' post.id %}">{{ post.title }}</a></h3>
                    <p class="lead">{{ post.abstract|safe }}</p>
                    <p><small>published {{ post.pub_date }}</small></p>
                {% endfor %}
            </div>
            <div class="span3">
                <h2><a href="{% url 'site_index:music_index' %}">music</a></h2>
                {% for post in music_post %}
                    <h3><a href="{% url 'site_index:details' 'music' post.id %}">{{ post.title }}</a></h3>
                    <p class="lead">{{ post.abstract|safe }}</p>
                    <p><small>published {{ post.pub_date }}</small></p>
                {% endfor %}
            </div>
            <div class="span3">
                <h2><a href="{% url 'site_index:misc_index' %}">misc</a></h2>
                {% for post in misc_post %}
                    <h3><a href="{% url 'site_index:details' 'misc' post.id %}">{{ post.title }}</a></h3>
                    <p class="lead">{{ post.abstract|safe }}</p>
                    <p><small>published {{ post.pub_date }}</small></p>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% include 'common/footer.html' %}