{% load url from future %}
<html>
<head>
    <meta charset="utf-8">
    <title>this city hums</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if post %}
        <meta name="description" content="{{ post.abstract }}"/>
        <meta name="og:description" content="{{ post.abstract }}"/>
        <meta name="title" content="this city hums - {{ post.title }}"/>
        <meta name="og:title" content="this city hums - {{ post.title }}"/>
        <meta name="image" content="{{ MEDIA_URL }}ico/aerodynasty.png"/>
        <meta name="og:image" content="{{ MEDIA_URL }}ico/aerodynasty.png"/>
    {% else %}
        <meta name="description" content="code | writing | music | misc"/>
        <meta name="og:description" content="code | writing | music | misc"/>
        <meta name="title" content="this city hums"/>
        <meta name="og:title" content="this city hums"/>
        <meta name="image" content="{{ MEDIA_URL }}ico/aerodynasty.png"/>
        <meta name="og:image" content="{{ MEDIA_URL }}ico/aerodynasty.png"/>
    {% endif %}
    <meta name="author" content="shoerust">
    <meta name="og:author" content="shoerust">

    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet"/>
    <link href="{{ MEDIA_URL }}css/custom.css" rel="stylesheet"/>
    <link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="{{ MEDIA_URL }}css/docs.css" rel="stylesheet"/>
    <link href="{{ MEDIA_URL }}js/google-code-prettify/prettify.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ MEDIA_URL }}ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ MEDIA_URL }}ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ MEDIA_URL }}ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="{{ MEDIA_URL }}ico/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="{{ MEDIA_URL }}ico/aerodynasty.png">

</head>
<body>