<!DOCTYPE html>
{% load url from future %}
{% include 'common/header.html' %}
<!-- Navbar ================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="./index.html">william southers<span><a class="brand" href="https://twitter.com/shoerust">@shoerust</a></span></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="{% url 'site_index:index' %}">Home</a>
                    </li>
                    {% if post_type == 'code' %}
                        <li class="active">
                    {% else %}
                        <li class="">
                    {% endif %}
                        <a href="{% url 'site_index:code_index' %}">Code</a>
                    </li>
                    {% if post_type == 'writing' %}
                        <li class="active">
                            {% else %}
                        <li class="">
                    {% endif %}
                        <a href="{% url 'site_index:write_index' %}">Writing</a>
                    </li>
                    {% if post_type == 'music' %}
                        <li class="active">
                            {% else %}
                        <li class="">
                    {% endif %}
                        <a href="{% url 'site_index:music_index' %}">Music</a>
                    </li>
                    {% if post_type == 'misc' %}
                        <li class="active">
                            {% else %}
                        <li class="">
                    {% endif %}
                        <a href="{% url 'site_index:misc_index' %}">Misc</a>
                    </li>
                    <li class="">
                        <a href="{% url 'site_index:about_index' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="marketing">
        <div class="row-fluid">
            <h1>
                all {{ post_type }} posts
            </h1>
        </div>
    </div>
    <div class="row-fluid">
        {% if viewable_posts %}
            <table class="table table-hover">
                {% for post in viewable_posts %}
                <tr>
                    <td>
                        <h2><a href="{% url 'site_index:details' post_type post.id %}">{{ post.title }}</a> - published: {{ post.pub_date }}</h2>
                        <p>{{ post.abstract|safe }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No posts available.</p>
        {% endif %}
    </div>
    <div class="pagination">
        <ul>
            {% if viewable_posts.has_previous %}
                <li><a href="?page={{ viewable_posts.previous_page_number }}">previous</a></li>
            {% endif %}

            <li><a href="?page={{ viewable_posts.number }}">{{ viewable_posts.number }}</a></li>

            {% if viewable_posts.has_next %}
                <li><a href="?page={{ viewable_posts.next_page_number }}">next</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% include 'common/footer.html' %}