<div class="row-fluid">
    {% if post %}
        <div class="span12">
            <h1>{{ post.title }}</h1>
            <p class="text-info">published {{ post.pub_date }}</p>
            <h4>abstract</h4>
            <p>{{ post.abstract|safe }}</p>
            <h4>content</h4>
            <p>{{ post.content|safe }}</p>
        </div>
    {% else %}
        <h1>an error occurred...</h1>
        <p>unable to find post details</p>
    {%  endif %}
</div>
<div class="row-fluid">
    {% if post %}
        <div class="span12">
            {%  if viewable_comments %}
                <h1>comments</h1>
                <table class="table table-hover">
                    {% for comment in viewable_comments %}
                        <tr>
                            <td>
                                <p>
                                    {% if comment.website %}
                                        <a href="{{ comment.website }}">{{ comment.username }}</a>
                                    {% else %}
                                        <strong>{{ comment.username }}</strong>
                                    {% endif %}
                                    on <span>{{ comment.pub_date }}</span></p>
                                <p>{{ comment.content }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    <ul>
                        {% if viewable_comments.has_previous %}
                            <li><a href="?page={{ viewable_comments.previous_page_number }}">previous</a></li>
                        {% endif %}

                        <li><a href="?page={{ viewable_comments.number }}">{{ viewable_comments.number }}</a></li>

                        {% if viewable_comments.has_next %}
                            <li><a href="?page={{ viewable_comments.next_page_number }}">next</a></li>
                        {% endif %}
                    </ul>
                </div>
                <h4>add a comment</h4>
            {% else %}
                <h1>add a comment</h1>
            {% endif %}
            <form method="post" action="">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    {% endif %}
</div>